$removal-button-height: 18px;
$removal-button-border-width: 1px;

.form {
	margin-top: 40px;
}

.fieldset {
	padding: 10px 10px 20px;
	background-color: $form-background-color;
	border: 2px solid $border-color;
	border-radius: 5px;
}

.fieldset:not(:first-child) {
	margin-top: 20px;
}

.fieldset__header {
	margin-bottom: 10px;
	font-size: 16px;
}

.fieldset__component:not(:last-child) {
	margin-bottom: 20px;
}

.fieldset__module {
	padding: 5px;
	margin-bottom: 5px;
	border: 1px dashed $border-color;
	border-radius: 5px;
}

.fieldset__module--nested {
	margin: 5px;
}

.fieldset__module-component {
	margin-bottom: 20px;
}

.fieldset__removal-button-placeholder {
	display: flex;
	justify-content: flex-end;
	min-height: $removal-button-height + ($removal-button-border-width * 2);
}

.fieldset__removal-button {
	padding: 0px 10px;
	height: $removal-button-height;
	line-height: $removal-button-height;
	background-color: $content-background-color;
	border: $removal-button-border-width solid $border-color;
	border-radius: 5px;
}

.fieldset__label {
	font-weight: bold;
}

.field__input {
	box-sizing: border-box;
	width: 100%;

	&--has-errors {
		border-color: $error-color;
	}
}

.field__error-list-item {
	list-style: disc inside none;
	color: $error-color;
}

.button {
	margin-top: 40px;
	height: 22px;
	width: 170px;
	background-color: $button-background-color;
	cursor: pointer;
}
