@use 'lib/color-variables';

.instance-label {
	margin-bottom: 20px;
	padding: 0 5px;
	display: inline-block;
	border-radius: 2px;
	border: 2px solid color-variables.$border-color;
	background-color: color-variables.$box-shadow-color;
	font-weight: bold;
	text-transform: uppercase;
}
