@use 'lib/color-variables';

.notification {
	position: fixed;
	top: 10px;
	right: 10px;
	margin-left: 10px;
	padding: 20px;
	max-width: 500px;
	border-radius: 5px;
	border: 2px solid color-variables.$border-color;
}

.notification--success {
	background-color: color-variables.$success-color;
}

.notification--failure {
	background-color: color-variables.$failure-color;
}
