@use 'lib/color-variables';

.title-text {
	margin: 0 5px 20px 5px;
	padding-bottom: 0px;
	font-size: xx-large;
	color: color-variables.$default-text-color;
}

.title-text--muted {
	color: color-variables.$muted-text-color;
}
