.form {
	margin-top: 40px;
}

.fieldset {
	padding: 10px 10px 20px;
	background-color: var(--form-background-color);
	border: 2px solid var(--border-color);
	border-radius: 5px;

	&:not(:first-child) {
		margin-top: 20px;
	}
}

.fieldset__header {
	margin-bottom: 10px;
	font-size: 16px;
}

.fieldset__component:not(:last-child) {
	margin-bottom: 20px;
}

.fieldset__module {
	padding: 5px;
	margin-bottom: 5px;
	border: 1px dashed var(--border-color);
	border-radius: 5px;
}

.fieldset__module--nested {
	margin: 5px;
}

.fieldset__module-component {
	margin-bottom: 20px;
}

.fieldset__action-button-container {
	display: flex;
	justify-content: flex-end;
}

.fieldset__action-button {
	--action-button-height: 18px;

	padding: 0px 10px;
	height: var(--action-button-height);
	width: 36px;
	line-height: var(--action-button-height);
	color: var(--interactive-text-color);
	background-color: var(--content-background-color);
	border: 1px solid var(--border-color);
	border-radius: 5px;
	cursor: pointer;

	&:hover {
		color: var(--default-text-color);
	}
}

.fieldset__label {
	font-weight: bold;
}

.field__input {
	box-sizing: border-box;
	width: 100%;
}

.field__input--has-errors {
	border-color: var(--error-color);
}

.field__error-list-item {
	list-style: disc inside none;
	color: var(--error-color);
}

.button {
	margin-top: 40px;
	height: 22px;
	width: 170px;
	background-color: var(--button-background-color);
	cursor: pointer;
}
