.instance-label {
	margin-bottom: 20px;
	padding: 0 5px;
	display: inline-block;
	border-radius: 2px;
	border: 2px solid var(--border-color);
	background-color: var(--box-shadow-color);
	font-weight: bold;
	text-transform: uppercase;
}
