.notification {
	position: fixed;
	top: 10px;
	right: 10px;
	margin-left: 10px;
	padding: 20px;
	max-width: 500px;
	border-radius: 5px;
	border: 2px solid var(--border-color);
}

.notification--success {
	background-color: var(--success-color);
}

.notification--failure {
	background-color: var(--failure-color);
}
